
source "$HOME/.vim/plugged/gruvbox/gruvbox_256palette.sh"

echo "Local Config"
source ~/.profile.local

# exit if inside tmux
if [[ "$TERM" =~ "screen".* ]]; then
  echo "Already inside TMUX"
else
  read -t 2 -n 1 -p "Start tmux (y/N)? " answer
  [ -z "$answer" ] && answer="N"  # 'yes' default choice
  case ${answer:0:1} in
     n|N )
         echo "No Tmux"
         ;;
     * )
         echo "Starting tmux-init"
         tmux attach -t base || tmux new -s base
     ;;
  esac
fi



