export DISPLAY=${DISPLAY-":0"}
# disable don't know use anymore
# export USERNAME=
export OPENAI_API_KEY=
export CR_PAT=
export SRC_ACCESS_TOKEN=
# jozeph.oftheinternet@gmail.com
# joe.vandelay@gmail.com
export ANTHROPIC_API_KEY=
export CHROME_EXECUTABLE=
export GEMINI_API_KEY=
# For redirecting to copilot (host other models for free)
# e.g. export OPENAI_API_BASE=https://api.githubcopilot.com
# or switch back empty & orignal key to use OpenAI again
export OPENAI_API_BASE=
export OPENAI_API_KEY=

# NODE, RUBY, PYTHON: use system defaults to be fast
# But allow fish to override if it has them set up

## DEBUG (Uncomment to verify)
# printf "which ruby:" && which ruby
# printf "ruby --version: " && ruby --version
# printf "which node:" && which node
# printf "node --version: " && node --version
# printf "which python:" && which python
# printf "python --version: " && python --version
