[core]
  editor = nvim
  autocrlf = false
  symlinks = true
  longPaths = true
  excludesfile =
[user]
  name = Joe Schr
  email = jozeph.oftheinternet+git@gmail.com
[user]
  name = Joe Schr
  email = 8218910+TheJoeSchr@users.noreply.github.com
[push]
  default = simple
[alias]
    # replace .bashrc
  rr = rebase --continue
  ri = rebase --interactive

  go = checkout
  ci = commit -v
  ca = !git ci --amend
  cim = !git ci -m
  st = status
  br = branch
    df = diff --histogram --color-moved=plain
  feat = merge --no-ff --no-commit
  pl = pull --rebase
  ps = push
  ; reflog
  re = gitk --all --date-order $(git log -g --pretty=%H)
  sh = stash save
  type = cat-file -t
  dump = cat-file -p
  ; delete remote branch
  branch-delete-remote = push --delete
  delete-remote-branch = push --delete
    # Push the new branch, set local branch to track the new remote
  ps--set-upstream = push --set-upstream origin
    unadd = reset HEAD
    unstage = reset
    uncommit = reset --soft HEAD^
    staged = diff --cached
    ctags = "!.git/hooks/ctags"uncommit = reset HEAD^
    stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git stash store -m \"$2\" $rev; }; _"
    stash-all = stash -u
    # shorthands
    gbdr = branch-delete-remote
    # logging commands (hardcoded PAGER because of nvimpager not working)
    lg-paged = !"PAGER=/usr/bin/less git log"
    # pretty format
    his = lg-paged --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h:%C(reset) %C(white)%s%C(reset) %C(auto)%d%C(reset) | %C(bold green)[%ar]%C(reset) %C(dim white)%an%C(reset)'
    # long pretty format
    lgl  = his --pretty=\"%C(bold green)[%h:%ar]%C(reset)  %an %d%n%s%n%w(72,4,4)%b\" --date=short --graph --decorate

    lg   = !git his --decorate --graph # full short log
    l5  = !git his -5 # log only the last five commits
    lgs  = !git l5 # log only the last five commits
    lst  = !git lg --stat # log including which files changed
    lpa  = !git lg -p # log including every individual changed line
    last = !git lgl -1 --patch # show everything about the head commit
    lgh  = !git lgl -1 --stat
    gov = lg --simplify-by-decoration # show relationships between branches
    lga  = !git his --all 
    gl = lg

    # show stats and last 5 commits
    st   = !"git lgs;  git status"
    # file logging commands
    lf  = !git his --follow -- # commits including desired files
    lfl = !git lgl --follow -- # long-format commits
    lfst = !git lst --follow -- # stat-style commits
    lfpa = !git lpa --follow -- # full patch commits
    show-file-history = !git lfl
[rerere]
  enabled = true
[mergetool]
  keepTemporaries = false
  prompt = false
[merge]
    ; conflictStyle = zdiff
	conflictstyle = diff3
[http]
  sslVerify = false
  cookiefile = C:/Users/Joe/AppData/Roaming/.home/.gitcookies
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[winUpdater]
  recentlySeenVersion = 2.15.1.windows.2
[branch]
  autosetuprebase = always
[help]
  autocorrect = 20
[pull]
  rebase = merges
  autostash = true
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
