[Desktop Entry]
Categories=Office;
Comment=Application time-tracking for Linux. Stable version
Exec=rescuetime
Icon=RescueTime
Name=RescueTime
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
