[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][1][Applets][4][Configuration]
PreloadWeight=100

[Containments][1][Applets][4][Configuration][General]
favorites=preferred://browser,systemsettings.desktop,org.kde.dolphin.desktop,org.kde.kate.desktop,org.kde.discover.desktop
favoritesPortedToKAstats=true

[Containments][1][Applets][5]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][5][Configuration]
PreloadWeight=60
SystrayContainmentId=6

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][57][Configuration][General]
isInLatteDock=true
launchers59=applications:org.kde.dolphin.desktop

[Containments][1][Applets][60]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][1][Applets][60][Configuration][Appearance]
dateFormat=isoDate
enabledCalendarPlugins=/usr/lib/qt/plugins/plasmacalendarplugins/holidaysevents.so,/usr/lib/qt/plugins/plasmacalendarplugins/astronomicalevents.so
showDate=true
showWeekNumbers=true

[Containments][1][Applets][60][Configuration][ConfigDialog]
DialogHeight=2098
DialogWidth=1896

[Containments][1][Applets][61]
immutability=1
plugin=org.kde.plasma.pager

[Containments][1][ConfigDialog]
DialogHeight=1996
DialogWidth=1110

[Containments][1][General]
activeWindowFilter=FromAllScreens
advanced=false
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
appletOrder=4;57;61;5;60
autoDecreaseIconSize=false
dragActiveWindowEnabled=true
durationTime=x1
iconMargin=0
iconSize=48
lengthExtMargin=4
maxLength=98
panelPosition=10
panelSize=100
plasmaBackgroundForPopups=true
proportionIconSize=1.5
shadowOpacity=35
shadowSize=45
shadows=None
showGlow=false
splitterPosition=2
splitterPosition2=5
titleTooltips=false
useThemePanel=false
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][6]
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][6][Applets][10]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][6][Applets][11]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][6][Applets][12]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][6][Applets][13]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][6][Applets][14]
immutability=1
plugin=org.kde.plasma.battery

[Containments][6][Applets][16]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][6][Applets][17]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][6][Applets][43]
immutability=1
plugin=org.kde.discovernotifier

[Containments][6][Applets][58]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][6][Applets][59]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][6][Applets][7]
immutability=1
plugin=org.kde.kdeconnect

[Containments][6][Applets][9]
immutability=1
plugin=org.kde.plasma.volume

[Containments][6][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.pkupdates,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.discovernotifier,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol
knownItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.pkupdates,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.discovernotifier,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol

[LayoutSettings]
activities=
background=
color=lightskyblue
globalLaunchers=
lastUsedActivity=7f74c8e4-8029-49bf-b627-91f7fe05e938
launchers=
preferredForShortcutsTouched=true
showInMenu=true
textColor=fcfcfc
version=2
