[Desktop Entry]
Categories=Office;
Comment=Free Time Tracking Software
Exec=TogglDesktop.sh
Hidden=true
Icon=toggldesktop
Name=Toggl Track
StartupNotify=false
StartupWMClass=Toggl Track
Terminal=false
Type=Application
Version=1.0
