# Filtering
[[help.prepend_keymap]]
on = "/"
run = "filter"
desc = "Apply a filter for the help items"

[[mgr.prepend_keymap]]
on = "f"
run = "plugin jump-to-char"
desc = "Jump to char"

[[mgr.prepend_keymap]]
on = "!"
run = 'shell "$SHELL" --block --confirm'
desc = "Open shell here"

# Filter
[[mgr.prepend_keymap]]
on = "/"
run = "filter --smart"
desc = "Filter files"

[[mgr.prepend_keymap]]
on = "?"
run = "plugin smart-filter"
desc = "Smart filter"

# Find
[[mgr.prepend_keymap]]
on = [",", "f"]
run = "find --smart"
desc = "Find next file"

[[mgr.prepend_keymap]]
on = [",", "F"]
run = "find --previous --smart"
desc = "Find previous file"

# Git.yazi
[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"


# compress all selected files
[[mgr.prepend_keymap]]
on = ["c", "a"]
run = "plugin compress"
desc = "Archive selected files"

# keymap.toml
[[mgr.prepend_keymap]]
on   = "<C-t>"
run  = "plugin toggle-pane min-preview"
desc = "Minimize the preview pane"

# Augmented Keys
# Use the augmented arrow up command for the k key
[[mgr.prepend_keymap]]
on = ["k"]
run = "plugin augment-command 'arrow -1'"
desc = "Move cursor up"

# Use the augmented arrow down command for the j key
[[mgr.prepend_keymap]]
on = ["j"]
run = "plugin augment-command 'arrow 1'"
desc = "Move cursor down"

# Use K to move up in the parent directory
[[mgr.prepend_keymap]]
on = ["K"]
run = "plugin augment-command 'parent-arrow -1'"
desc = "Move cursor up in the parent directory"

# Use J to move down in the parent directory
[[mgr.prepend_keymap]]
on = ["J"]
run = "plugin augment-command 'parent-arrow 1'"
desc = "Move cursor down in the parent directory"

# Use the augmented enter command for the l key
[[mgr.prepend_keymap]]
on = ["l"]
run = "plugin augment-command 'enter'"
desc = "Enter the child directory, or open the file"

# Use the augmented enter command for the <Enter> key
[[mgr.prepend_keymap]]
on = ["<Enter>"]
run = "plugin augment-command 'enter'"
desc = "Enter the child directory, or open the file"

# Use the augmented enter command for the <S-Enter> key
[[mgr.prepend_keymap]]
on = ["<S-Enter>"]
run = "plugin augment-command 'enter --interactive'"
desc = "Enter the child directory, or open the file interactively"

# Use the augmented enter command for the <Right> key
# but without skipping directories
[[mgr.prepend_keymap]]
on = ["<Right>"]
run = "plugin augment-command 'enter --no-skip'"
desc = "Enter the child directory, or open the file"

# Use the augmented leave command for the h key
[[mgr.prepend_keymap]]
on = ["h"]
run = "plugin augment-command 'leave'"
desc = "Go back to the parent directory"

# Use the augmented leave command for the <Left> key
# but without skipping directories
[[mgr.prepend_keymap]]
on = ["<Left>"]
run = "plugin augment-command 'leave --no-skip'"
desc = "Go back to the parent directory"

# Use the augmented open to open files interactively with O
[[mgr.prepend_keymap]]
on = ["O"]
run = "plugin augment-command 'open --interactive'"
desc = "Open selected files interactively"

# smart paste via augment-command
[[mgr.prepend_keymap]]
on = "p"
run = "plugin augment-command -- paste --smart"
desc = "Smart paste files into hovered directory"

# Use u to unselect and unyank all files
[[mgr.prepend_keymap]]
on = ["u"]
run = ["select_all --state=false", "unyank"]
desc = "Unselect all files and also unyank cut files"

# Use o to open files using the editor
[[mgr.prepend_keymap]]
on = ["o"]
run = "plugin augment-command 'editor'"
desc = "Open files with the default editor"

# Use e to open files using xdg-open
[[mgr.prepend_keymap]]
on = "e"
run = "open"
desc = "Open selected file(s)"

# Use i to open files using the pager
[[mgr.prepend_keymap]]
on = "i"
run = "plugin augment-command 'pager'"
desc = "Open files with the default pager"

# Use R to remove the whole file name when renaming
[[mgr.prepend_keymap]]
on = ["R"]
run = "plugin augment-command 'rename --empty=all'"
desc = "Rename file and remove the whole file name"


# The relative motions plugin keymaps,
# which are just to use the number
# keys to move in relative steps
[[mgr.prepend_keymap]]
on = ["1"]
run = "plugin relative-motions 1"
desc = "Move in relative steps"

[[mgr.prepend_keymap]]
on = ["2"]
run = "plugin relative-motions 2"
desc = "Move in relative steps"

[[mgr.prepend_keymap]]
on = ["3"]
run = "plugin relative-motions 3"
desc = "Move in relative steps"

[[mgr.prepend_keymap]]
on = ["4"]
run = "plugin relative-motions 4"
desc = "Move in relative steps"

[[mgr.prepend_keymap]]
on = ["5"]
run = "plugin relative-motions 5"
desc = "Move in relative steps"

[[mgr.prepend_keymap]]
on = ["6"]
run = "plugin relative-motions 6"
desc = "Move in relative steps"

[[mgr.prepend_keymap]]
on = ["7"]
run = "plugin relative-motions 7"
desc = "Move in relative steps"

[[mgr.prepend_keymap]]
on = ["8"]
run = "plugin relative-motions 8"
desc = "Move in relative steps"

[[mgr.prepend_keymap]]
on = ["9"]
run = "plugin relative-motions 9"
desc = "Move in relative steps"

# bookmarks
[[mgr.prepend_keymap]]
on = ["m"]
run = "plugin bookmarks save"
desc = "Save current position as a bookmark"

[[mgr.prepend_keymap]]
on = ["'"]
run = "plugin bookmarks jump"
desc = "Jump to a bookmark"

[[mgr.prepend_keymap]]
on = ["b", "d"]
run = "plugin bookmarks delete"
desc = "Delete a bookmark"

[[mgr.prepend_keymap]]
on = ["b", "D"]
run = "plugin bookmarks delete_all"
desc = "Delete all bookmarks"

# custom-shell
[[mgr.prepend_keymap]]
on = ";"
run = "plugin custom-shell fish --no-block "
desc = "custom-shell as default"


# linemode size_and_mtime
[[mgr.prepend_keymap]]
on = [",", "s"]
run = ["sort size --reverse=no", "linemode size_and_mtime"]
desc = "Sort by lowest size and show size and modification time"

[[mgr.prepend_keymap]]
on = [",", "S"]
run = ["sort --reverse size", "linemode size_and_mtime"]
desc = "Sort by biggest size and show size and modification time"

# linemode size_and_mtime
[[mgr.prepend_keymap]]
on = [",", "n"]
run = ["sort natural --reverse=no", "linemode size_and_mtime"]
desc = "Size and modification time"

# linemode size_and_mtime
[[mgr.prepend_keymap]]
on = [",", "N"]
run = ["sort --reverse natural", "linemode size_and_mtime"]
desc = "Size and modification time"

# cd-git-root.yazi
[[mgr.prepend_keymap]]
on   = ["g", "r"]
run  = "plugin cd-git-root"
desc = "Go to git repo root"

# diff.yazi
[[mgr.prepend_keymap]]
on   = "<C-d>"
run  = "plugin diff"
desc = "Diff the selected with the hovered file"

# rsync.yazi
[[mgr.prepend_keymap]]
on   = [ ",","R" ]
run  = "plugin rsync"
desc = "Copy files using rsync"

# kdeconnect-send.yazi
[[mgr.prepend_keymap]]
on   = [ ",","k" ]
run  = "plugin kdeconnect-send"
desc = "Send selected files via KDE Connect"
